<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join</title>
</head>
<body>
    <h2>Let`s Join the Our Team!</h2>
    <form method="Post" action="/users">
        <label for="name">Enter username: </label>
        <input type="text" name="username" id="name">
        <label for="email">Enter  Email: </label>
        <input type="text" name="email" id="email">
        <label for="pass">Enter password: </label>
        <input type="text" name="password" id="pass">
        <button>Submit</button>
    </form>
</body>
</html>