<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>HomePage</title>
    </head>
    <body>
        <h1>Welcome To!</h1>
        <h2>This page is home page</h2>
        <h3> <%= 3*4 %>  </h3>
        <p>EJS is populer templeting langage that lets generate the HTML markup with plain JavaScript langage!</p>
    </body>
</html>