<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat Application</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="homePage">
        <h2>Welcome To Our Chat Application!</h2>
        <h2>Total Number Message : <%= count %></h2>
        <div class="home-form">
            <form action="http://localhost:4040/chats">
                <button>Let`s goto All Chats</button>
            </form>
            <form action="http://localhost:4040/chats/new">
               <button>Let`s goto Send Message</button>
            </form>
        </div>
    </div>
</body>

</html>